#home {
  background-image: url('../../assets/img/background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  section {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 35%;
  }

  .cube {
    font-size: 8rem;
    color: $orange;
    margin-top: $md;
  }

  h1 {
    font-size: $lg;
    font-weight: 400;
    text-align: center;
    color: $off-white;
    margin-top: $xxl;
  }

  .play-button-container {
    width: 100%;
  }

  .play-button-container ul li {
    width: 100%;
  }

  a.play-button {
    background-color: $green;
    color: #ffffff;
    cursor: pointer;
    padding: $nm;
    display: block;
    text-align: center;
    transition: 0.3s linear all;
  }

  a.play-button:hover {
    background-color: darken($color: $green, $amount: 10%);
    box-shadow: $shadow;
  }

  .auth-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: $md;
  }

  .auth-container .auth-buttons {
    color: #ffffff;
    cursor: pointer;
    border-radius: 30px;
    padding: $nm 0;
    text-align: center;
    width: 45%;
    transition: 0.3s linear all;
  }

  #login-button {
    background-color: $red;
    box-shadow: $shadow;
  }

  #login-button:hover {
    background-color: darken($color: $red, $amount: 10%);
  }

  #register-button {
    background-color: $blue;
    box-shadow: $shadow;
  }

  #register-button:hover {
    background-color: darken($color: $blue, $amount: 10%);
  }
}

@media (max-width: 768px) {
  #home {
    background-image: url('../../assets/img/mobile-background.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: $off-black;
    background-position: center;

    section {
      background-color: rgba(0, 0, 0, 0);
      padding: 0 $nm;
      width: 80%;
      height: 80%;
    }

    .cube {
      margin-top: -2rem;
    }

    h1 {
      color: #ffa500;
      margin-top: 35rem;
      font-weight: 800;
    }
  }
}
