.instructions {
  border: 1px solid darken($color: $off-white, $amount: 10%);
  border-radius: 5px;
  margin-top: $lg;
  margin-bottom: $lg;
  padding: $sm $lg;

  h1 {
    color: $off-black;
    font-size: $md;
    text-align: center;
  }

  .lifeline-icon {
    position: relative;
    color: $green;
    cursor: pointer;
  }

  .browser-default {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  #sublist {
    margin-left: 30px;
  }

  img {
    width: 80%;
    height: 50%;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto $sm auto;
    padding: $md;
    width: 100%;
  }

  .button-container a {
    border: none;
    color: $off-white;
    cursor: pointer;
    font-family: $quicksand;
    margin-right: $md;
    padding: $xs $sm;
  }

  .button-container .left a {
    background-color: darken($color: $red, $amount: 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
  }

  .button-container .left a:hover {
    background-color: darken($color: $red, $amount: 20%);
  }

  .button-container .right a {
    background-color: darken($color: $green, $amount: 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
  }

  .button-container .right a:hover {
    background-color: darken($color: $green, $amount: 20%);
  }
}

@media (max-width: $md-breakpoint) {
  .instructions {
    margin-top: 0;
    margin-bottom: 0;
    color: $off-white;

    h1 {
      color: $off-white;
    }

    .button-container {
      width: 90% !important;
    }
  }

  .instructions img {
    width: 100% !important;
    height: 150% !important;
  }

  .button-container a {
    display: block;
    font-size: $nm;
    padding: 0.2rem 0.5rem !important;
  }
}
