$quicksand: 'Quicksand', sans-serif;

$orange: #ffa500;
$white: #fff;
$off-white: #f8f8f8;
$green: #57b846;
$success-text: #4caf50;
$red: #ea4355;
$error-text: #f44336;
$blue: #1da1f2;
$off-black: #333;

$xs: 0.5rem;
$nm: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg: 3rem;
$xl: 5rem;
$xxl: 7rem;

$button-radius: 30px;

$lg-breakpoint: 1024px;
$md-breakpoint: 768px;
$sm-breakpoint: 641px;
$xs-breakpoint: 480px;

$shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
  0 1px 5px 0 rgba(0, 0, 0, 0.2);
